<div class="text-center">
<a href="/tales/new"><button type="button">Crear pregunta</button></a>
<div class="search">
<form method="get" action="/tales/">
    <input type="text" name="search" value="Palabra/s"/>
    <input type="submit" value="Buscar">
    </form>
</div>
<div class="text-center">
<table class="table table-striped table-bordered">
	<% var i; for(i=0; i<questions.length; i++){ %>
     <tr><td><a href="<%= questions[i].id %>"><%= questions[i].pregunta %></a><a href="<%= questions[i].id %>/editquestion">Editar</a>
      <form method="post" action="<%= questions[i].id %>?_method=delete">
      <button type="submit" onClick="return confirm('Seguro que quieres borrar... <%= questions[i].pregunta %>');">
      Borrar
      </button>
      </form>
     </td>
     </tr>
     <% } %>

</table>
</div>
</div>